@import url(reset.css);
@media screen (min-width : 920px) and (max-width : 1400px) {
}
.first_page{
  font-family: Cormorant Garamond;
  height: 100%;

}
.menu{
  display: flex;
  align-items: stretch;
  height: 4rem;
  flex-direction:row-reverse;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: #333333;
}
.logo {
  width: 4rem;
}
.dropbtn {
  border-radius: 4rem;
  border: 2px solid #333333;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: Bold;
  color: #333333;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
}
.dropbtn:hover, .dropbtn:focus, .project:hover {
    background-color:#A5F691;
    color: white;
    border: 2px solid #A5F691;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 1rem;
    border-radius: 5px;
}
.dropdown-content a {
    font-size: 1.2rem;
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: grey;
}
.dropdown a:hover {background-color: #333;
  color: white;}
.show
  {display: block;}
.project{
  border-radius: 4rem;
  border: 2px solid #333333;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: Bold;
  color: #333333;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
}


 .my_social{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
   padding: 2rem 0;
 }
 .social{
   padding-left: .5rem;
   width: 5rem;
 }
}
